<form method='post' action='/artists'>
  <p><input type='text' name='name' placeholder="Artist Name"></p>
  <p><input type='text' name='photo_url' placeholder="URL for Artist Photo"></p> 
  <p><input type='text' name='nationality' placeholder="Artist Nationality"></p>
  <input type='submit'>
</form>
